@page "/collaborators/{institutionID:int}"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,Institution")]

<PageTitle>Colaboradores</PageTitle>

<h1>Colaboradores</h1>

<input type="text" @bind="filterText" placeholder="Filtrar por nome..." class="form-control mb-3" />

<div class="mb-3">
    <button class="btn btn-primary me-2" @onclick="() => SortBy(name)">Ordenar por Nome</button>
    <button class="btn btn-secondary" @onclick="() => SortBy(birthDate)">Ordenar por Data de Nascimento</button>
</div>

@if (collaboratorList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Instituição Associada</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collaborator in filteredCollaboratorList)
            {
                <tr>
                    <td>@collaborator.Value.ID</td>
                    <td>@collaborator.Value.Nome</td>
                    <td>@collaborator.Value.Email</td>
                    <td>@collaborator.Value.DataNascimento.ToShortDateString()</td>
                    <td>@collaborator.Value.InstituicaoID</td>
                    <td>
                    <button class="btn btn-danger" @onclick="() => RemoveCollaborator(collaborator.Value.ID.ToString())">
                        Remover
                    </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<string, Collaborator> collaboratorList = new();
    private string filterText = string.Empty;
    private string currentSort = "name";
    private string name = "name";
    private string birthDate = "birthDate";
    private string userID = string.Empty;

    [Parameter]
    public int institutionID { get; set; }

    [Inject]
    public required LusiumService LusiumService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        string userRole = string.Empty;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            userID = user.FindFirst(ClaimTypes.NameIdentifier)?.Value!;
            userRole = user.FindFirst(ClaimTypes.Role)?.Value!;
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }

        collaboratorList = await LusiumService.ListaColaboradores(institutionID);
    }

    private IEnumerable<KeyValuePair<string, Collaborator>> filteredCollaboratorList
    {
        get
        {
            var query = collaboratorList
                .Where(admin => string.IsNullOrEmpty(filterText) ||
                                admin.Value.Nome.Contains(filterText, StringComparison.OrdinalIgnoreCase));

            return currentSort == "name"
                ? query.OrderBy(admin => admin.Value.Nome)
                : query.OrderBy(admin => admin.Value.DataNascimento);
        }
    }

    private void OnFilterTextChanged()
    {
        StateHasChanged();
    }

    private void SortBy(string criteria)
    {
        currentSort = criteria;
        StateHasChanged();
    }

    private async Task RemoveCollaborator(string collaboratorId)
    {
        await LusiumService.RemoveUtilizador(collaboratorId, "Collaborator");
        collaboratorList.Remove(collaboratorId);
    }
}
