@page "/institutions"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Instituições</PageTitle>

<h1>Instituições</h1>

<input type="text" @bind="filterText" @oninput="OnFilterTextChanged" placeholder="Filtrar por nome..." class="form-control mb-3" />

<div class="mb-3">
    <button class="btn btn-primary me-2" @onclick="() => SortBy(name)">Ordenar por Nome</button>
    <button class="btn btn-secondary" @onclick="() => SortBy(creditsSpend)">Ordenar por Créditos Dispendidos</button>
</div>

@if (institutionList == null || totalCreditosDispendidos.Count != institutionList.Count)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>NIF</th>
                <th>Número de Associação</th>
                <th>Email</th>
                <th>Morada</th>
                <th>Total de Créditos Dispendidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var institution in filteredinstitutionList)
            {
                <tr>
                    <td>@institution.Value.ID</td>
                    <td>@institution.Value.Nome</td>
                    <td>@institution.Value.NIF</td>
                    <td>@institution.Value.NumeroAssociacao</td>
                    <td>@institution.Value.Email</td>
                    <td>@institution.Value.Morada</td>
                    <td>@totalCreditosDispendidos[institution.Value.ID.ToString()]</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<string, Instituition> institutionList = new();
    private string filterText = string.Empty;
    private Dictionary<string, int> totalCreditosDispendidos = new();
    private string currentSort = "name";
    private string name = "name";
    private string creditsSpend = "creditsSpend";

    [Inject]
    public required LusiumService LusiumService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        institutionList = await LusiumService.ListaInstituicoes();

        foreach (var institution in institutionList.Values)
        {
            var totalCreditos = await LusiumService.CalcularCreditosDispendidos(institution.ID);

            totalCreditosDispendidos[institution.ID.ToString()] = totalCreditos;
        }
    }

    private IEnumerable<KeyValuePair<string, Instituition>> filteredinstitutionList
    {
        get
        {
            var query = institutionList.AsEnumerable();

            if (!string.IsNullOrEmpty(filterText))
            {
                query = query.Where(admin => admin.Value.Nome.Contains(filterText, StringComparison.OrdinalIgnoreCase));
            }

            query = currentSort switch
            {
                "name" => query.OrderBy(admin => admin.Value.Nome),
                "creditsSpend" => query.OrderByDescending(admin => totalCreditosDispendidos[admin.Value.ID.ToString()]),
                _ => query
            };

            return query;
        }
    }

    private void OnFilterTextChanged()
    {
        StateHasChanged();
    }

    private void SortBy(string criteria)
    {
        currentSort = criteria;
        StateHasChanged();
    }
}
